body {
  background-image: url("https://wallpaperaccess.com/full/351949.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  height: 100%;
  width: 100%;
}

.wholeDoc {
  margin: 60px auto;
  max-width: 82%;
  border-radius: 6px;
}

.s {
  display: block;
}
.condition {
  font-size: medium;
}

.wholeTxt {
  margin: 0 auto;
  max-width: 80%;
}
#fahrenheit-link,
#celsius-link {
  text-decoration: none;
}

a:hover {
  color: rgb(13, 8, 19);
}
#temperature {
  font-size: 1.5em;
}

#time {
  display: block;
  font-size: 2em;
  text-align: right;
  font-weight: 500;
  font-style: oblique;
}

#city {
  font-size: 1.3em;
  font-weight: bold;
  font-style: italic;
}
.condition {
  font-size: 1.5em;
}

.list-temp {
  font-weight: bold;
  text-align: justify;
}
.time-button {
  color: rgb(255, 255, 255);
  display: block;
  border: none;
  background-color: rgb(167, 183, 236);
  border-radius: 20px;
}

#id1,
#dataList {
  border-radius: 50px;
}
