body {
  background-image: url("https://wallpaperaccess.com/full/351949.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.wholeDoc {
  margin: 60px auto;
  max-width: 85%;
  /* border-radius: 6px; */
  /* border: 1px solid #dadde1; */
  /* 
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px; */
}

.s {
  display: block;
}
.condition {
  font-size: medium;
}

.wholeTxt {
  margin: 0 auto;
  max-width: 70%;
}
#fahrenheit-link,
#celsius-link {
  text-decoration: none;
}

a:hover {
  color: rgb(13, 8, 19);
}
#temperature {
  font-size: 1.5em;
}

#time {
  display: block;
  font-size: 2em;
  text-align: right;
  font-weight: 500;
  font-style: oblique;
}

#city {
  font-size: 1.3em;
  font-weight: bold;
  font-style: italic;
}
.condition {
  font-size: 1.5em;
}

.list-temp {
  font-weight: bold;
  text-align: justify;
}
.time-button {
  color: rgb(78, 115, 155);
  display: block;

  background-color: rgb(167, 183, 236);

  border: 1px solid #dadde1;
  padding: 10px;
  /* margin: 10px; */
  border-radius: 40px;
}

#id1,
#dataList {
  border-radius: 50px;
}

small a {
  color: #f7f2ff;
  text-decoration: none;
}
